.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes pulse_kf {
  from {
    scale: 1;
  }
  to {
    scale: 0.9;
  }
}

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: 0 auto;
}

grid_1-1-1-1_index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.product_overview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.on_sale {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.price {
  display: flex;
  gap: 1ch;
}

@media (min-width: 800px) {
  .category_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .grid_1-1-1-1_index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .product_overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
