/*************** Reset *********************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  scroll-behavior: smooth;
}

/* fonte */
/* bold */
@font-face {
  font-family: "neue_haas_grotesk_display75Bd";
  src: url(../fonte/neue/neuehaasdisplay-bold-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* medium */

@font-face {
  font-family: "neue_haas_grotesk_display65Md";
  src: url(../fonte/neue/neuehaasdisplay-mediu-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-mediu-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* light  */

@font-face {
  font-family: "neue_haas_grotesk_display45Lt";
  src: url(../fonte/neue/neuehaasdisplay-light-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* thin */

@font-face {
  font-family: "neue_haas_grotesk_display35Th";
  src: url(../fonte/neue/neuehaasdisplay-thin-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-thin-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* black */

@font-face {
  font-family: "neue_haas_grotesk_displa95Blk";
  src: url(../fonte/neue/neuehaasdisplay-black-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-black-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* roman */
@font-face {
  font-family: "neue_haas_grotesk_disp55roman";
  src: url(../fonte/neue/neue2/neuehaasdisplay-roman-webfont.woff2) format("woff2"), url(../fonte/neue/neue2/neuehaasdisplay-roman-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* lignt italic */

@font-face {
  font-family: "neue_haas_grotesk_displ36ThIt";
  src: url(../fonte/neue/neue2/neuehaasdisplay-thinitalic-webfont.woff2) format("woff2"), url(../fonte/neue/neue2/neuehaasdisplay-thinitalic-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

main {
  margin: 0 auto;
  max-width: 1100px;
}

.on_sale_prev {
  display: none;
}

.on_sale_prev_true {
  color: rgb(240, 0, 0);
  display: block;
  font-family: "neue_haas_grotesk_display75Bd";
}

.price_now {
  font-family: "neue_haas_grotesk_display75Bd";
}

/* kategori styling */
.category_list_container_items {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: "neue_haas_grotesk_display75Bd";
  font-size: 20px;
  border: solid rgb(156, 156, 156) 1px;
  border-radius: 7px;
  padding: 30px 25px 30px 25px;
  transition: ease-in;
}
.category_list_container_items:hover {
  scale: 1.02;
  transition: all 0.2s ease;
  color: rgb(33, 36, 216);
  border: solid 2px rgb(33, 36, 216);
}

.product_list_knap:hover {
  scale: 1.02;
  transition: all 0.2s ease;
  color: rgb(33, 36, 216);
}

.product_list_knap {
  display: flex;
  align-items: end;
}

h1 {
  font-family: "neue_haas_grotesk_display65Md";
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 42px;
  margin-left: 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(145, 146, 255);
}

h5 {
  font-family: "neue_haas_grotesk_displa95Blk";
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 80px;
  margin-left: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 45px rgb(33, 36, 216);
}

h3 {
  font-family: "neue_haas_grotesk_display65Md";
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

h4 {
  font-family: "neue_haas_grotesk_display65Md";
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 35px;
  margin-left: 2rem;
}

p {
  font-family: "neue_haas_grotesk_disp55roman";
  font-size: 16px;
  padding: 0.1rem;
}

.item_brand {
  font-size: 18px;
  color: darkgrey;
  margin-bottom: 0.5rem;
}

.productPrice {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.productPrice2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 16px;
}

.originalPrice {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 20px;
  text-decoration: line-through;
  color: rgb(101, 101, 101);
}

.discountPrice {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 20px;
  color: rgb(255, 0, 0);
  margin-left: 1rem;
}

.originalPrice2 {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 16px;
  text-decoration: line-through;
  color: rgb(101, 101, 101);
}

.discountPrice2 {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 16px;
  color: rgb(255, 0, 0);
}

.product_card:hover {
  transition: 0.3s;
  scale: 1.02;
  transition: all 0.2s ease;
}

.on_sale p:last-child {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 0, 0));
  padding: 0.25rem;
  border-radius: 5px;
  text-align: end;
  margin-left: 10rem;
}

.on_sale_label {
  visibility: hidden;
}

.is_on_sale_label {
  visibility: visible;
}

.on_sale {
  visibility: hidden;
}

.on_sale p {
  font-family: "neue_haas_grotesk_display65Md";
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.is_on_sale {
  visibility: visible;
}

.linje {
  background-color: rgb(230, 230, 230);
  height: 2px;
  width: auto;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.brand_img {
  width: 70%;
  margin-left: 1rem;
}

.purchase_box {
}

.product-onsale_soldout img {
  opacity: 0.5;
}

.product-soldout img {
  opacity: 0.5;
}

.container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.sold_out {
  position: absolute;

  font-family: "neue_haas_grotesk_disp55roman";
  font-size: 16px;
  background-color: rgb(198, 198, 198);
  padding: 5px;
  top: 8%;
  left: 15%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.brødkrumme {
  margin-top: 1rem;
}

.brødkrumme p {
  font-family: "neue_haas_grotesk_display75Bd";
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hidden2 {
  display: none;
}

.visible2 {
  display: block;
}

.sold_out_true {
  visibility: visible;
}

.product-soldout .on_sale {
  display: none;
}

.product-soldout span {
  display: none;
}

.product_overview {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.purchase_box {
  border: solid 1.5px rgb(210, 210, 210);
  border-radius: 4px;
}

.purchase_box .item_brand {
  font-family: "neue_haas_grotesk_disp55roman";
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 25px;
  margin-left: 2rem;
}

.purchase_box .price {
  font-family: "neue_haas_grotesk_display75Bd";
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 20px;
  margin-left: 2rem;
}

h2 {
  font-family: "neue_haas_grotesk_display65Md";
  margin-bottom: 0.5rem;
  color: darkgrey;
  font-size: 26px;
}

dt {
  font-family: "neue_haas_grotesk_disp55roman";
  margin-bottom: 0.5rem;
  font-size: 20px;
}

dd {
  font-family: "neue_haas_grotesk_displ36ThIt";
  margin-bottom: 1rem;
  margin-left: 0.2rem;
  font-size: 18px;
}

.product_info {
  margin-top: 0rem;
  margin-left: 2rem;
}

form {
  margin-top: 2rem;
  margin-left: 2rem;
}

label {
  font-family: "neue_haas_grotesk_disp55roman";
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.purchase_box .add_to_basket p {
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
  width: 200px;
  background-color: white;
  margin-top: 1rem;
  font-family: "neue_haas_grotesk_display75Bd";
  font-size: 16px;
  border: solid 2px black;
  text-align: center;
  transition: 0.3s;
}

.add_to_basket p:hover {
  transition: 0.3s;
  scale: 1.02;
  color: rgb(33, 36, 216);
  border: solid 2px rgb(33, 36, 216);
}

.add_to_basket a {
  margin: 0;
}

.no_scale p:hover {
  scale: 1;
  color: rgb(190, 190, 190);
  border: solid 2px rgb(190, 190, 190);
}

h6 {
  text-align: center;
  width: fit-content;
  align-items: center;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  background-color: white;
  margin-top: 4rem;
  margin-bottom: 5rem;
  font-family: "neue_haas_grotesk_display75Bd";
  font-size: 16px;
  border: solid 2px black;
}

a {
  font-family: "neue_haas_grotesk_display75Bd";
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.product_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 610px;
  border: 1px solid black;
}

.info_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  height: 250px;
}

.product_card img {
  border-bottom: 1px solid rgb(187, 186, 186);
}
.readmore {
  font-family: "neue_haas_grotesk_display75Bd";
  font-size: 16px;
  color: rgb(33, 36, 216);
  text-decoration: none;
  text-align: end;
  text-decoration: underline;
}

.middle {
  place-self: center;
}

@media (min-width: 800px) {
  h1 {
    margin-left: 0rem;
    font-size: 60px;
    margin-top: 8rem;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 1px rgb(145, 146, 255);
  }

  h3 {
    font-size: 18px;
    margin-top: 1rem;
  }

  h5 {
    font-family: "neue_haas_grotesk_displa95Blk";
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 170px;
    margin-left: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 45px rgb(33, 36, 216);
  }
}
